.App {
  text-align: left;
  margin-top:100px;
}
.wrapper{
  max-width: 1024px;
  margin:auto;
}

.childrens{
  display: flex;
}
.children__card{
  background-color: #FFD2D2;
  width:500px;
  margin:20px;
  padding:20px;
  display: flex;
  flex-direction: column;
}
.children__card :first-child{
  margin-left:0px;
}
.children__card input{
  padding:20px;
}
.btn{
  background-color: #888CF0;
  color:#000000;
  margin-top: 20px;
  box-shadow: none;
  border:none;
  padding:20px;
  cursor: pointer;
}